<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<div layout:fragment="content">
    <!-- 네비게이션 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <!-- 이력서 이미지 -->
        <a class="navbar-brand js-scroll-trigger" href="/">
            <span class="d-block d-lg-none">Start Bootstrap</span>
            <span class="d-none d-lg-block">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/profile.JPG" alt="">
            </span>
        </a>
        <!-- 왼쪽 본문 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/experience">경력</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/qna/list">Q&A</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5">Q&A </h2>
					
                <div class="text-md-right">
                    <button class="btn-primary" onclick="location.href='register'"> 질문하기</button>
                </div>
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>작성자	</th>
								<th>제목</th>
								<th>작성일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="qna:${result}">
								<td>[[${qna.title}]]</td>
								<td><a th:href='${qna.qno}'>[[${qna.name}]]</a></td>
								<td class="center">[[${#dates.format(qna.regdate, 'yyyy-MM-dd')}]]</td>
							</tr>
						</tbody>
					</table>
                <hr/>


            </div>
        </section>
    </div>
</div>

</html>